@import "../Books/Books.module.scss";

.CartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: flex-start;
}

.price {
  display: none;
  color: var(--text-black, #1C2A39);
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.delivery {
  display: none;
  color: #5C6A79;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 576px) {
  .CartItem {
    gap: 6px;
    max-width: 75%;
  }
}

@media (min-width: 576px) {
  .price {
    display: table-cell;
  }
  .delivery {
    display: table-cell;
  }
}

